{% load edc_base_extras %}
{% load timesheet_dashboard_extras %}

<ul class="list-group list-group-flush small mb-0">
	{% if employee_code %}
		<li class="list-group-item mt-2">
			<i class="bi bi-person-badge"></i>
			<span data-bs-toggle="tooltip" data-bs-placement="right" title="{{ first_name }} {{ last_name }}" class="text text-default">
				{{ employee_code }}
				<sup><i class="bi bi-asterisk"></i></sup>
			</span>
		</li>
	{% endif %}
	<li class="list-group-item mt-2">
		<i class="bi bi-person-badge"></i>
		<span data-bs-toggle="tooltip" data-bs-placement="right" title="{{ first_name }} {{ last_name }}" class="text text-default">
			{{ first_name }} {{ last_name }}
		</span>
	</li>
	<li class="list-group-item mt-2">
		<i class="bi bi-briefcase-fill"></i>
		<span data-bs-toggle="tooltip" data-bs-placement="right" title="Job Title" class="text text-default">
			{{ job_title }}
		</span>
	</li>
	<li class="list-group-item mt-2">
		<i class="bi bi-person-fill-up"></i>
		<span data-bs-toggle="tooltip" data-bs-placement="right" title="Supervisor" class="text text-default">
			{{ supervisor }}
		</span>
	</li>
</ul>