{% extends listboard_base_template %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load timesheet_dashboard_extras %}
{% load edc_dashboard_extras %}

{% block main %}

<div class="row g-3">
	 <div class="d-flex align-items-center justify-content-between mb-3">
    	<div>
      		<h1 class="h4 mb-0">{{breadcrumb_title|capfirst}} Timesheets</h1>

      		<nav aria-label="breadcrumb" class="small">
	          <ol class="breadcrumb mb-0">
	            <li class="breadcrumb-item"><a href="{% url 'timesheet:timesheet_home_url' %}">Timesheet Dashboard</a></li>
	            <li class="breadcrumb-item active">{{breadcrumb_title|capfirst}} Timesheets</li>
	          </ol>
	        </nav>
        </div>
        {% block listboard_search_form %}
        	{% include 'timesheet_dashboard/search_form.html' %}
      	{% endblock listboard_search_form %}
    </div>
	    <div class="table-responsive border border-primary border-opacity-25 rounded-start rounded-end p-0">
	    	<table class="table table-hover small align-middle table-sm">
	    		<thead class="table-primary p-2">
	    			{% block listboard_table_header %}
	    				<tr>
	    					<th>#</th>
					        <th></th>
					        <th>Employee Code</th>
					        <th>Employee Name</th>
					        <th>Email</th>
					        <th>Job Title</th>
						</tr>
		   			{% endblock listboard_table_header %}
				</thead>
				<tbody>
					{% block listboard_table_body %}
						{% for result in results %}
							<tr>
								<td>{{ forloop.counter }}</td>
								{% block listboard_table_button_column %}
								<td style="white-space: nowrap;">
									<div class="btn-group" role="group" aria-label="Employee Links">
								       {% timesheets_button result p_role request.user %}
								    </div>
								</td>
								{% endblock listboard_table_button_column %}
	
								{% block listboard_table_columns %}
				
								    <td>{{ result.employee_code }} </td>
								    <td nowrap>{{ result.first_name }} {{ result.middle_name }} {{ result.last_name }}</td>
								    <td nowrap>{{ result.email }}</td>
								    <td nowrap>{{ result.job_title }}</td>
								
								{% endblock listboard_table_columns %}
							</tr>
						{% empty %}
						<tr>
							<td colspan="9" class="text-center text-secondary">No employees found.</td>
						</tr>
						{% endfor %}
					{% endblock listboard_table_body %}
				</tbody>
	    	</table>
	    	<div class="d-flex flex-column align-items-center">
	    		{% paginator_row %}
	    	</div>
	    </div>
	   
</div>

{% endblock main %}

