{% load timesheet_dashboard_extras %}
<!-- begin search form -->

{% block listboard_search_form %}
{% comment %} {% include 'edc_dashboard/search_form.html' %} {% endcomment %}
<form method="get" action="{% if search_form_url_reversed %}{{ search_form_url_reversed }}{% endif %}" class="d-flex gap-2" id="form-search">

	<input class="form-control form-control-sm" id="id_q" maxlength="150" name="q" placeholder="Search..." type="text" value="{{ q|default:'' }}" />
	
	<button  type="submit" class="btn btn-sm btn-outline-primary">
		<i class="bi bi-search"></i>
	</button>

	<!-- Hidden extra qs fields -->
	{% if request.user|has_group:"HR" %}

		<input name="p_role" value="HR" type="hidden"/>

	{% elif request.user|has_group:"Supervisor" %}

		<input name="p_role" value="Supervisor" type="hidden"/>
		
	{% endif %}

	{% if f %}<input type="hidden" name="f" value="{{ f }}">{% endif %}
	{% if e %}<input type="hidden" name="e" value="{{ e }}">{% endif %}
	{% if o %}<input type="hidden" name="o" value="{{ o }}">{% endif %}
</form>    

{% endblock listboard_search_form %}
<!-- end search form -->
